.header {
    background: #FFFFFF;
    display: flex;
}

.sobre {
    display: flex;
    flex-direction: column;
    padding: 8em 0em 2em 4em;
    font-family: 'Work Sans';
}

.sobre_title {
    color: #003F91;
    font-size: 40px;
    padding-bottom: 2em;
}

.sobre_textos {
    font-size: 20px;
    color: #5DA9E9;
    padding-bottom: 3em ;
}

.sobre_button-link {
    font-size: 20px;
    text-decoration: none;
    color: #5DA9E9;
    border: 2px solid #5DA9E9;
    border-radius: 10px;
    padding: 1em 2em; 
}


